@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*user-select: none;
//margin: 0px;
*/

*
{
    
     box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*//background: #f2f2f2;*/
body{
    background: url(../Image/background.jpg);
    color: #f2f2f2;
}
nav{
    background:rgb(179, 163, 163);
}
nav:after
{
    content: '';
    clear: both;
    display: table;
}

.logo a
{
    text-decoration: none;
    color: yellow;
}

nav .logo
{
    float: left;
    color: yellow;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
.rouge
{
  color: rgb(255, 0, 0);
}
nav strong
{
    color: green;
}
nav ul 
{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li 
{
   float: left;
   display: inline-block;
   background: rgb(179, 163, 163);
   margin: 0 5px;
}

nav ul li a
{
    color: black;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover
{
    color: white;
    border-radius: 5px;
    background: grey;
}
nav ul li ul li a
{
  display: block;
}
nav ul ul li a:hover
{
    background: grey;
    color: white;
}

nav ul ul 
{
    position: absolute;
    top: 90px;
    border-top: 3px solid green;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul
{
    border-top: none;
}

nav ul li:hover > ul 
{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li
{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(175, 171, 171);
}
nav ul ul li a{
    line-height: 50px;
}

nav ul ul ul li
{
    position:relative;
    top: -60px;
    left: 150px;
}
.show,.icon,.input
{
    display:none;
}

.fa-plus

{
    font-size: 15px;
    margin-left: 40px;
}

/* responsivité */

@media all and (max-width:968px )
{
 
    nav ul
    {
        margin-right: 0px;
        width: 100%;
    }

    nav .logo
    {
        padding-left: 30px;
        width: 100%;
    }

    .show + a, ul {
         display: none;
    }

    nav ul li,nav ul ul li
    {
        display: block;
        width: 100%;
    }

  .show
  {
      display: block;
      color: green;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
  }

  .icon
  {
      display: block;
      color: green;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
  }

  nav ul ul 
  {
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
  }

  nav ul ul a
  {
      padding-left: 40px;
  }

  nav ul ul ul a 
  {
      padding-left: 80px;

  }

  nav ul ul ul li
  {
      position: static;
  }

  [id^=btn]:checked + ul{
      display: block;
  }

  nav ul ul li
  {
      border-bottom: 0px;
  }

  span.cancel:before
  {
      content: '\f00d';
  }
}
/****************************
**********Footer**************
*****************************/
footer a
{
    text-decoration: none;
}




/*****************************
**********Connexion***********
*****************************/

#filiere,#profession, #mail
{
    width: 200px;
}
#adresse
{
    width: 300px;
}
#envoyer
{
    margin-left: 15px;
}
#annuler
{
    margin-left: 0px;
}

fieldset
{
    border-radius: 20px;
}
legend
{
    text-align: center;
}
footer
{
    user-select: none;
    text-align: center ;
}

.coco
{
    width: 50%;
    margin-left: 30%;
}

/*************************
********Connected*********
*************************/

a
{
    text-decoration: none;
}
.connectedform
{
    margin-left: 25%;
}
.connected
{
    width: 70%;
    height: 320px;
}

#envoyer
{
    width: 20%;
    margin-left: 25%;
}
#annuler
{
    width: 20%;
}

/***************
****Membre******
***************/
.membre
{
    width: 50%;
    height: 200px;
}
.member
{
    margin-left: 25%;
}
#btnconnexion
{
    margin-left: 35%;
    width: 125px;

}





/*******************************
************ALL*****************
*******************************/

h1
{
    text-align: center;
}
